/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */
.Layout {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

.Layout > * {
	padding-inline: min(5dvw, 3.2rem);
}

.Layout-header {
	background-color: var(--color-bg);
	padding-bottom: 0.5rem;
	padding-top: max(env(safe-area-inset-top), 1rem);
	text-align: center;
}

.Layout-header > h1 {
	margin: 0;
}

.Layout-main {
	margin: 0 auto;
	padding-block: 0;
	padding-block-start: 6rem;
	width: min(72ch, 100%);
}

.Nav {
	background-color: var(--color-bg);
	top: 0;
	left: 0;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	place-content: center;
	position: fixed;
	width: 100%;
	color: white;
}

.Nav-container {
	display: flex;
	align-items: center;
}

.Nav-link {
	color: #2588f2;
	font-size: 1em;
	flex: 0 1 auto;
	padding: 0.8rem;
	text-align: center;
	text-decoration: none;
}

.Nav-link.active {
	background-color: #becfe1;
	border-radius: 4px;
}

.App-title {
	padding-right: 15px;
	font-weight: bold;
}
