.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}

.soon {
	border: 1px solid green;
}
.kindOfSoon {
	border: 1px solid pink;
}

.notSoon {
	border: 1px solid blue;
}

.inactive {
	border: 1px solid red;
}
